.adresses-table {
  margin-top: 30px;
  height: 740px;
}

.thead-block {
  background-color: #ebebeb;
  color: #000000;
}

.thead-block tr th:not(:last-child) {
  width: 29%;
  min-width: 120px;
}

.thead-block tr th:last-child {
  min-width: 70px;
}

.table-wrapper {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  background-color: #ffffff;
}

.table-container{
  width: 100%;
}

.tBody-block {
  background-color: #f3f3f3;
}

.tBody-block tr td:not(:last-child) {
  width: 29.1%;
}

.table th, .table td {
  vertical-align: middle;
}

.table-wrapper::-webkit-scrollbar { width: 5px; height: 3px;} 
.table-wrapper::-webkit-scrollbar-button {  height: 10px; background-color: #666; }
.table-wrapper::-webkit-scrollbar-track {  background-color: #999;}
.table-wrapper::-webkit-scrollbar-track-piece { background-color: #ffffff;}
.table-wrapper::-webkit-scrollbar-thumb { height: 50px; background-color: rgb(163, 163, 163); border-radius: 3px;}
.table-wrapper::-webkit-scrollbar-corner { background-color: #999;}
.table-wrapper::-webkit-resizer { background-color: #666;}
