.app-sidebar {
  padding-top: 45px;
}

.card-title {
  margin: 0;
  padding: 10px 12px;
  text-transform: capitalize;
  font-size: 16px;
}

.active-icon {
  color:#329de8 !important; 
}

.active-{
  
  &nav {
    box-shadow: none !important;
    background-color: #dbe3ec !important;
    color: var(--primary);
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 4px;
      height: 100%;
      background-color: #0b64ad;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
      transform: translateY(-50%);
    }
  }
  
  &btn {
    box-shadow: none !important;
    background-color: #dbe3ec !important;
    color: var(--primary);

    & ~ *  {
      background-color: #e6e8eb;
    }
  }
}


.nav-item {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;

  padding-left: 10px;

  font-size: 16px;
  color: var(--dark);

  &:hover {
    background-color: rgba($color: #b8c0ca, $alpha: 0.4);
  }

  // &.active {
 
    
  // }
 
}

.nav-item-btn {
  display: flex;
  justify-content: center;
  position: relative;

  margin: 0 !important;
  padding: 0px;
  outline-color: transparent;
  border: 0 !important;
  text-align: left;
  font-size: 16px;
  color: var(--dark);

  &>span {
    text-transform: capitalize;
  }

  & .svg-icon {
    position: absolute;
    top: 22%;
    right: 3%;
  }
  
  &:hover {
    background-color: rgba($color: #b8c0ca, $alpha: 0.4);
  }
  // &:focus {
  //   box-shadow: none;
  //   background-color: #e0e4e7;
  // }

}


.child-nav {

  position: absolute;
  top: 60px;
  left: 340px;
  width: 200px;
  height: 500px;
  background-color: red;
}