.thead-employee { 
  tr { 
    th:not(:last-child),
    th:not(:first-child) {
      min-width: 115px;
      width: 17%;
    }
  }
}

.tBody-employee {
  tr {
    
    td:not(:last-child),
    td:not(:first-child) {
      min-width: 115px;
      width: 17%;
    }
  }
}

.active-employee{
  padding: 2px 6px;
  background-color: #7aca80;
  border-radius: 3px;
}

.inactive-employee{
  padding: 2px 6px;
  background-color: #e85e5e;
  border-radius: 3px;
}