.thead-org { 
  tr { 
    th:not(:last-child),
    th:not(:first-child) {
      min-width: 150px;
      width: 20%;
    }
  }
}

.tBody-org {
  tr {
    td:not(:last-child),
    td:not(:first-child) {
      min-width: 150px;
      width: 20%;
    }
  }
}
