.wrapper-page {
  flex-direction: column;
  flex-wrap: nowrap;

  height: 100%;
  margin: 0;
}

.nav-wrapper {
  width: 100%;
  margin: 0;
}

.social-wrapper {
  min-width: 750px;
}

.addresses-wrapper {
  min-width: 750px;
}

.ssjku-wrapper {
  min-width: 1120px;
}

.orgstructures-wrapper {
  min-width: 860px;
}

.Jobpositions-wrapper {
  min-width: 670px;
}

.roles-wrapper {
  min-width: 670px;
}

.employees-wrapper {
  min-width: 860px;
}

.relations-wrapper {
  min-width: 670px;
}

.banks-wrapper {
  min-width: 860px;
}

.maxcosts-wrapper {
  min-width: 670px;
}

.communal-wrapper {
  min-width: 670px;
}

.pagination-block {
  margin: 0;
}




