:root {
  --navbar-bg: #263341;
  --navbar-height: 56px;
}
$navbar-bg: #263341;

$theme-colors: (
  'primary': #145388,
  'success': #23be5f,
  'danger': #dc3545,
  'warning': #fdb342,
  'light': #ececec,
);

$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$h1-font-size: 36px;
$h2-font-size: 30px;
$h3-font-size: 28px;
$h4-font-size: 22px;
$h5-font-size: 18px;
$h6-font-size: 15px;

$headings-color: #333;
$headings-font-weight: 400;

$body-color: #535b63;
$body-bg: #f5f6fa;

$primary: #145388;

$link-color: $primary;
$link-hover-decoration: none;
$text-muted: #a5aeb3;

$border-radius-lg: 8px;

// $navbar-padding-y: 0;
// $navbar-brand-padding-y: 5px;
$navbar-dark-color: rgba(255, 255, 255, 0.8);
$navbar-dark-active-color: #fff;
$navbar-dark-hover-color: #fff;
$navbar-nav-link-padding-x: 1rem;
$navbar-nav-link-padding-y: 1rem;

$caret-vertical-align: middle;

$dropdown-spacer: 0;
$dropdown-padding-y: 0;
$dropdown-bg: $navbar-bg;
$dropdown-border-width: 0;
$dropdown-border-radius: 0;
$dropdown-item-padding-y: 14px;
$dropdown-item-padding-x: 20px;
$dropdown-link-color: #fff;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: lighten($navbar-bg, 10);
$dropdown-link-active-bg: $dropdown-link-hover-bg;

$btn-border-radius: 0;
$input-font-size: 16px;
$input-btn-padding-y: 14px;
$input-btn-padding-x: 25px;
$input-height-inner-quarter: 10px;
$input-height-inner-half: 20px;
$custom-select-indicator-padding: 15px;
$form-group-margin-bottom: 12px;
$enable-validation-icons: false;

$nav-tabs-border-width: 2px;
$nav-tabs-border-radius: 0;
$nav-tabs-border-color: #e9ecef;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: transparent;
$nav-tabs-link-active-border-color: $primary;

// $table-cell-padding: 20px 10px;
// $table-cell-padding-sm: 10px;
// $table-cell-padding-sm: 0.8rem 0.4rem;

$tooltip-bg: #2c2e3e;
$tooltip-padding-y: 8px;
$tooltip-padding-x: 13px;

// $modal-header-padding-y: 25px;
// $modal-header-padding-x: 40px;
// $modal-inner-padding: 30px 40px;
// $modal-content-border-radius: 4px;
// $modal-md: calc(100% - 30px);

$badge-padding-y: 0.3rem;
$badge-padding-x: 0.5rem;

$card-border-color: transparent;

/* import bootstrap to set changes */
@import '../node_modules/bootstrap/scss/bootstrap';
